<!DOCTYPE html>
<html>
<head>
  <style>
    form {
      width: 300px; /* задаем ширину контейнера */
      margin: 0 auto; /* делаем контейнер посередине */
      background-color: lightblue; /* задаем цвет фона */
      padding: 20px; /* добавляем отступ вокруг контейнера */
    }
  </style>
</head>
<body>

<form action="/action_page.php">
  <label for="fname">Имя:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Фамилия:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Отправить">
  <input type="reset">
</form>

</body>
</html>
